.navbar{
    max-width: 100%;
    height: 94px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    box-sizing: border-box;

    &>h1{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &>.navLinks{
        display: flex;
        justify-content: space-between;
        
        max-width: 475px;

        gap: 30px;

        &>li{
            cursor: pointer;

            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            color: #000;

            transition: color .3s ease-in-out;

            &:hover{
                color: #8FC0FF;
            }
        }
    }

    &>.headerTryBtn{
        width: 113px;
        height: 20px;

        padding: 16px 24px;
        box-sizing: content-box;

        border-radius: 24px;
        border: 1px solid #0D0A2C;

        background-color: transparent;

        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &>.burgerMenu{
        display: none;
        cursor: pointer;

        width: 42px;
        height: 42px;

        background-color: transparent;
        border: none;
        pointer-events: none;
    }
}

@media screen and (max-width: 768px) {
    .navbar{
        padding: 0;

        &>.navLinks{
            display: none;
        }

        &>.headerTryBtn{
            display: none;
        }

        &>.burgerMenu{
            display: block;
        }
    } 
}