.profit {
    position: absolute;
    top: 50px;
    right: 30px;

    width: 142px;
    height: 111px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    gap: 16px;

    & > li:first-child {
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
        animation: fadeIn 0.5s ease-in-out;
    }

    & > li:nth-child(2) {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
        opacity: 0.5;
        animation: fadeIn 0.5s ease-in-out;
    }

    & > li:nth-child(3) {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
        opacity: 0.2;
        animation: fadeIn 0.5s ease-in-out;
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .profit {
        top: 26px;
        right: 0;

        width: 71px;
        height: 64px;

        gap: 8px;

        & > li:first-child {
            font-size: 16px;
        }

        & > li:nth-child(2) {
            font-size: 14px;
        }

        & > li:nth-child(3) {
            font-size: 12px;
        }
    }
}
