@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #0D0A2C;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  padding-bottom: 60px;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1440px;
  height: fit-content;

  margin: 0 auto;

  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li{
  list-style-type: none;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  font-family: 'Montserrat', sans-serif;

  box-sizing: content-box;

  transition: all .3s ease;
}

button:hover{
  background-color: #0D0A2C !important;
  color: #fff !important;
}

/* .ant-slider .ant-slider-handle::after  {
  margin-top: -8px;
  width: 24px;
  height: 24px;
}

.ant-slider .ant-slider-handle:hover:after{
  margin-top: -8px;
  width: 28px;
  height: 28px;
}

.ant-slider .ant-slider-handle:focus:after{
  margin-top: -8px;
  width: 28px;
  height: 28px;
}

.ant-slider .ant-slider-handle::before  {
  margin-top: -8px;
  width: 28px;
  height: 28px;
}

.ant-slider .ant-slider-handle::after {
  background-color: #8FC0FF;
  outline: none;
}

.ant-slider .ant-slider-handle:focus::after{
  box-shadow: none;
  outline: none;
}

.ant-slider .ant-slider-handle:hover::after{
  box-shadow: none;
  outline: none;
}

.ant-slider.ant-slider-disabled .ant-slider-handle::after{
  background-color: #C0C0C0;
  margin-top: -6px;
  width: 24px;
  height: 24px;

  top: -2px;
  left: -2px;
  bottom: -8px;
  right: -16px;
}

.ant-slider.ant-slider-disabled .ant-slider-handle::before {
  background-color: #C0C0C0;
  margin-top: -6px;
  width: 24px;
  height: 24px;

  border-radius: 50%;
} */

.ant-tooltip .ant-tooltip-inner{
  background-color: #8FC0FF;
  color: #fff;
  width: 85px;
  height: 44px;

  border-radius: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ant-tooltip{
  --antd-arrow-background-color: none;
}



